{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "umd": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ],
      "plugins": [
        "transform-object-rest-spread"
      ]
    }
  }
}
